<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="./styles.css" />
  <title>Quotes List</title>
</head>
<body>
  <!-- HTML -->
  <section id="quotesapp">
    <header>
      <h1>Quotes</h1>
    </header id="header">
    <section id="main">
      <table id="quotes-table">
        <thead>
          <tr>
            <th>Theme</th>
            <th>Context</th>
            <th>Source</th>
            <th>Quote</th>
          </tr>
        </thead>
        <tbody id="quotes-list"></tbody>
      </table>
    </section>
  </section>

  <!-- Templates -->
  <script type="text/template" id="item-template">
    <td><%= theme %></td>
    <td><%= context %></td>
    <td><%= source %></td>
    <td class="quote"><%= quote %></td>
  </script>

  <!-- Libraries -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

  <!-- JS files -->
  <script src="app.js"></script>
  <script src="index.js"></script>
</body>
</html>
